.bannerImage {
  /* background-image: url("https://imgd.aeplcdn.com/0x0/cw/static/landing-banners/homepage-d-2021.jpg?v=19042022");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%; */
  background-color: black;
  margin-top: 64px;

  background-image: url("/src/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  @media (max-width: 600px) {
    margin-top: 50px;
    background-color: black;
    background-size: cover;
  }
  @media (max-width: 900px) {
    background-color: black;
    background-size: cover;
  }
  @media (max-width: 1200px) {
    background-color: black;
    background-size: cover;
  }
  @media (min-width: 1200px) {
    background-color: black;
    background-size: cover;
    background-position: center center;
  }
}

/* .bannerContainer {
  height: 400px;
  @media (max-width: 768px) {
    height: 300px;
  }
  @media (max-width: 360px) {
    height: 200px;
  }
} */
